// colors
$white: #fff;
$textColor: #424242;
$primaryGreen: #01996d;
$secondGreen: #245852;
$backgroundGreen: #ccebe2;
$black: #171819;
$blackColor: #292929;

//fonts
$mainFont: "Lato", sans-serif;
$titleFont: "Georgia", sans-serif;
$iconFont: "socialico";

//screen
$mobile: "max-width: 580px";
$tablet: "max-width: 767px";
$medium: "max-width: 970px";
$desktop: "max-width: 1024px";
$projector: "max-width: 1200px";
$big: "max-width: 1300px";

// shadows
$mainShadow: 0 4px 4px 0 #00000025;
$cardShadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.3);
